.App {
  background: linear-gradient(89.39deg, #C6A4FA 0.57%, #AEC1FC 32%, #9090B4 64%, #F5CBEF 99.54%);
  justify-content: center;
  align-items: center;
  height: 100vh;
  display: flex;
}

.AppGlass{
  background: #ECE3FE;
  border: 10px solid rgba(236, 227, 254, 0.59);
  border-radius: 10px;
  width: 93%;
  height: 93%;
  display: grid;  
}
