@import url('https://fonts.googleapis.com/css2?family=Magra&display=swap'); 

body {
  margin: 0;
    font-family: 'Magra', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: 'Magra', sans-serif;
}
